@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
body {
  background-color: #464b50;
}

.container {
  padding-left: 250px;
  color: #ffffff;
}

.navbar {
  position: fixed;
  height: 100%;
  background-color: #262626;
  border-radius: 0;
  width: 250px;

  img{
    height: 80px;
    margin: 0 auto;
    display: inline-block;
  }


  ul {
    padding-left: 0;

  }

  h1 {
    padding: 10px;
    //font-size: 2em;

  }

  a {
    color: #fff;


  }

  a:hover {
    color: #79cbed;
    text-decoration: none;
  }

  li {
    list-style: none;
    padding: 10px;
    text-align: left;


  }
}

.comic-content {

  img{
    max-width: 100%;
  }

}